body {
    background-color: rgb(204, 178, 144);;
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
img {
    max-width: 100%;
}
.logo{
    max-width: 60px;
}
.main_header{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(204, 178, 144);
    align-items: flex-end;
    padding: 10px 20px;
}
.navigation{
    display: flex;
    flex-flow: row wrap;
}
.navigation a{
    text-decoration: none;
    color:brown;
    padding: 15px;
}
.navigation a:hover{
    color:aquamarine;
    background-color:blue;
}
.banner{
    background-image: url("../resources/banner_cosmos.jpg");
    background-size: cover; 
    background-position: center;
    min-height: 50vh;
    /* display: grid;
    place-items: center;  */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;

}
.banner h1{
    color: rgb(32, 32, 30);
    background-color:whitesmoke;
    padding: 10px;
}
.home_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 1third of the available width */
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
    color: black;
}
.card_image {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.card {
    border: 1px solid black;
}
.card_content {
    display: flex;
    flex-direction: column;
}
.card_button {
    background-color: black;
    color: white;
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 75%;
    align-self: center;
}